<div class="container">
    <div class="header">
      <br>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
        <ngx-spinner></ngx-spinner>
        <table #componentTable class="display" style="width:100%">
          <thead>
          <tr>
          <th>S.No</th>
          <th>Component</th>
          <th>Component Description</th>
          <th>Component Description II</th>
          <th>Unit of Measurement</th>
          <th>Item Type</th>
          <th>Cost Total</th>
          <th>Created Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let component of componentData; let i =index;">
            <td>{{i + 1}}</td>
            <td>{{component.component}}</td>
            <td>{{component.component_desc}}</td>
            <td>{{component.component2_desc}}</td>
            <td>{{component.uom}}</td>
            <td>{{component.item_type}}</td>
            <td>{{component.cost_total}}</td>
            <td>{{component.created_date | date: 'dd-MM-yyyy'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>