<div class="container">
  <div class="header">
    <br>
    <h2 align="right"><img align="left" src="assets/images/logo.png">Inventory Control and Planning Tool</h2>
    <hr>
  </div>
  <ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
      <a class="nav-link active" routerLinkActive="active" routerLink="parents">Parents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="components">Components</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="suppliers">Suppliers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="componentsuppliers">Component Suppliers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="plans">Plans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="email">Email</a>
    </li>
  </ul>
<router-outlet></router-outlet>
<!--footer class="page-footer font-small blue pt-4">
<div class="footer text-center py-2">Powered by: AGN Logistics and Solutions</div>
</footer-->
<br>
<footer class="text-white" style="background-color: rgb(80, 160, 190)">
  <div class="text-center py-3">© 2019 Copyright: AGN Logistics and Solutions</div>
</footer>
</div>